<form action="/signin" method="post">
    <label >Email</label>
    <input name="email" type="text" />
    <label > password</label>
    <input  name="password" type="text"/>
    <button type="submit">Sign In</button>
</form>